@custom-media --motionOK (prefers-reduced-motion: no-preference);

:root {


  /* Fontsize / Spacing Rhythm */
  --ratio: 1.64;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 64ch;


  --surface1: lch(10 0 0);
  --surface2: lch(15 0 0);

  --text1: lch(95 0 0);
  --text2: lch(75 0 0);

  --brand: lch(64 40 347);

  @media (prefers-color-scheme: light) { & {
    --surface1: lch(90 0 0);
    --surface2: lch(100 0 0);

    --text1: lch(20 0 0);
    --text2: lch(40 0 0);

    --brand: lch(65 64 350);

    @media (dynamic-range: high) { & {
      --brand: color(display-p3 1 0 1);
    }}
  }}
}

* {
  box-sizing: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin: 0;
}

html {
  block-size: 100%;

  @media (--motionOK) { & {
    scroll-behavior: smooth;
  }}
}

body {
  min-block-size: 100%;

  display: grid;
  place-content: center;
  gap: var(--s2);

  background: var(--surface1);
  color: var(--text1);
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

a {
  color: var(--brand);
  color: color(display-p3 0 .5 1);

  &:visited {
    color: color(display-p3 .5 0 1);
  }
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  max-inline-size: 25ch;
}

p {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 300;
  max-inline-size: 45ch;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

/* end reset */

main {
  text-align: center;
  background: var(--surface2);
  display: grid;
  gap: var(--s1);
  padding: var(--s2);
  border-radius: 1ch;
}
